<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{title}}</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{title}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->
  <section class="contact mt-5">
    <div class="container">
      <form
        action="/publicResale/create"
        id="propertyForm"
        class="form"
        method="POST"
        role="form"
      >
        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="address" class="form-label">Address</label>
            <input
              type="text"
              name="address"
              class="form-control form-control-lg form-control-a"
              placeholder="Ang Mo Kio Avenue 5"
              required
            />
            <div id="addressOneErrorMsg" class="form-text"></div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="blockNo" class="form-label">Block No</label>
            <input
              type="text"
              name="blockNo"
              class="form-control form-control-lg form-control-a"
              placeholder="Block 123"
              required
            />
            <div id="addressTwoErrorMsg" class="form-text"></div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="town" class="form-label">Town</label>
            <select
              id="town"
              name="town"
              class="form-control form-control-lg form-control-a"
              required
            >
              <option value="ANG MO KIO" selected>Ang Mo Kio</option>
              <option value="BEDOK">Bedok</option>
              <option value="BISHAN">Bishan</option>
              <option value="BUKIT BATOK">Bukit Batok</option>
              <option value="BUKIT MERAH">Bukit Merah</option>
              <option value="BUKIT PANJANG">Bukit Panjang</option>
              <option value="BUKIT TIMAH">Bukit Timah</option>
              <option value="CENTRAL AREA">Central Area</option>
              <option value="CHOA CHU KANG">Choa Chu Kang</option>
              <option value="CLEMENTI">Clementi</option>
              <option value="GEYLANG">Geylang</option>
              <option value="HOUGANG">Hougang</option>
              <option value="JURONG EAST">Jurong East</option>
              <option value="JURONG WEST">Jurong West</option>
              <option value="KALLANG/WHAMPOA">Kallang/Whampoa</option>
              <option value="MARINE PARADE">Marine Parade</option>
              <option value="PASIR RIS">Pasir Ris</option>
              <option value="PUNGGOL">Punggol</option>
              <option value="QUEENSTOWN">Queenstown</option>
              <option value="SEMBAWANG">Sembawang</option>
              <option value="SENGKANG">Sengkang</option>
              <option value="SERANGOON">Serangoon</option>
              <option value="TAMPINES">Tampines</option>
              <option value="TOA PAYOH">Toa Payoh</option>
              <option value="WOODLANDS">Woodlands</option>
              <option value="YISHUN">Yishun</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="flatType" class="form-label">Flat Type</label>
            <select
              id="flatType"
              name="flatType"
              class="form-control form-control-lg form-control-a"
              required
            >
              <option value="1 ROOM" selected>1-ROOM</option>
              <option value="2 ROOM">2-ROOM</option>
              <option value="3 ROOM">3-ROOM</option>
              <option value="4 ROOM">4-ROOM</option>
              <option value="5 ROOM">5-ROOM</option>
              <option value="EXECUTIVE">EXECUTIVE</option>
              <option value="MULTI GENERATION">MULTI-GENERATION</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="flatModel" class="form-label">Flat Model</label>
            <select
              id="flatModel"
              name="flatModel"
              class="form-control form-control-lg form-control-a"
              required
            >
              <option value="IMPROVED" selected>Improved</option>
              <option value="NEW GENERATION">New Generation</option>
              <option value="DBSS">DBSS</option>
              <option value="STANDARD">Standard</option>
              <option value="MODEL A">Model A</option>
              <option value="MODEL A2">Model A2</option>
              <option value="APARTMENT">Apartment</option>
              <option value="SIMPLIFIED">Simplified</option>
              <option value="PREMIUM APARTMENT">Premium Apartment</option>
              <option value="ADJOINED FLAT">Adjoined Flat</option>
              <option value="MODEL A-MAISONETTE">Model A-Maisonette</option>
              <option value="MAISONETTE">Maisonette</option>
              <option value="MULTI GENERATION">Multi-Generation</option>
              <option value="TYPE S1">Type S1</option>
              <option value="TYPE S2">Type S2</option>
              <option value="TERRACE">Terrace</option>
              <option value="2-ROOM">2-Room</option>
              <option value="PREMIUM MAISONETTE">Premium Maisonette</option>
              <option value="IMPROVED-MAISONETTE">Improved Maisonette</option>
              <option value="PREMIUM APARTMENT LOFT">Premium Apartment Loft</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <label for="flatLevel" class="form-label">Flat Level</label>
            <input
              id="flatLevel"
              type="number"
              name="flatLevel"
              class="form-control form-control-lg form-control-a"
              min="1"
              max="51"
              placeholder="20"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="floorSqm" class="form-label">Floor Area (sqm)</label>
            <input
              id="floorSqm"
              type="number"
              name="floorSqm"
              class="form-control form-control-lg form-control-a"
              min="25"
              max="400"
              placeholder="100"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="postalCode" class="form-label">Postal Code</label>
            <input
              id="postalCode"
              type="text"
              name="postalCode"
              class="form-control form-control-lg form-control-a"
              placeholder="500123"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="leaseCommenceDate" class="form-label">Lease Start Date</label>
            <input
              id="leaseCommenceDate"
              type="date"
              name="leaseCommenceDate"
              class="form-control form-control-lg form-control-a"
              min="1952-01-01"
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label for="dateOfSale" class="form-label">Resale Date</label>
            <input
              id="dateOfSale"
              type="date"
              name="dateOfSale"
              class="form-control form-control-lg form-control-a"
              min="1952-01-01"
              required
            />
            <div id="resaleDateErrorMsg" class="form-text"></div>
          </div>
        </div>
        <h3 class="mb-3">Pricing</h3>
        <div class="mb-3">
          <p>Use AI Model Prediction?</p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="usePrediction"
              id="yesRadio"
              value="true"
              onclick="useAImodel();"
              required
            />
            <label class="form-check-label" for="yesRadio">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="usePrediction"
              id="noRadio"
              value="false"
              onclick="useAImodel();"
            />
            <label class="form-check-label" for="noRadio">
              No
            </label>
          </div>
        </div>
        <div id="resaleDiv" class="row mb-3">
          <div class="col-md-6 mb-3">
            <label for="resaleValue" class="form-label">Resale Price</label>
            <input
              id="resaleValue"
              type="text"
              name="resaleValue"
              class="form-control form-control-lg form-control-a"
            />
          </div>
          <div class="col-md-6 mb-3">
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-a" title="Add Listing">Add Listing</button>
        </div>
      </form>
    </div>
  </section>
</main>
<script src="/js/resalePublicPropertyInputValidation.js"></script>
<script src="/js/useAIOption.js"></script>