<main id="main" style="height: 65vh;">
    <section class="section-services section-t8">
        <div class="container mb-3 ">
            <div class="text-center">
                <h1 class="mt-5 mb-3">{{errorCode}}</h1>
                <h3>{{errorMessage}}</h3>
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-center mb-3">
            <a class="btn btn-lg btn-b-n" href="/">Home</a>
        </div>
    </section>
</main>