/* Custom Scrollbar CSS */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
