<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">User Profile</h1>
            <span class="color-text-a">Welcome Back {{userName}}!</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                User Profile
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->
  <section class="contact mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/img/agent-4.jpg" width="300px" height="300px" alt="profilePicture" class="img-fluid mx-5" />
        </div>
        <div class="col-md-6">
          <div class="property-agent">
            <h4 class="title-agent">{{userName}}</h4>
            <p class="color-text-a">
              Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet
              quam vehicula elementum sed sit amet dui. Quisque velit nisi,
              pretium ut lacinia in, elementum id enim.
            </p>
            <ul class="list-unstyled">
              <li class="d-flex justify-content-between">
                <strong>Phone Number:</strong>
                <span class="color-text-a">{{userPhoneNo}}</span>
              </li>
              <li class="d-flex justify-content-between">
                <strong>Email:</strong>
                <span class="color-text-a">{{userEmail}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <h3>What would you like to do?</h3>
      </div>
            <div class="d-flex justify-content-center my-5">
        <div
          class="btn-group btn-group-lg"
          role="group"
          aria-label="Basic example"
        >
          <button type="button" class="btn btn-outline-dark">Favourites</button>
          <button type="button" class="btn btn-outline-dark">Enquires</button>
          <button type="button" class="btn btn-outline-dark">Account Settings</button>
          
        </div>
      </div>
    </div>
  </section>
</main>