<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">User Profile</h1>
            <span class="color-text-a">Welcome Back John Smith!</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                User Profile
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->
  <section class="contact mt-5">
    <div class="container">
      <div class="d-flex justify-content-center mb-5">
        <div
          class="btn-group btn-group-lg"
          role="group"
          aria-label="Basic example"
        >
          <button type="button" class="btn btn-outline-dark">Favourites</button>
          <button type="button" class="btn btn-outline-dark">Enquires</button>
          <button type="button" class="btn btn-outline-dark">Change Password</button>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <h1>Profile Information</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Name: John Smith</p>
        </div>
        <div class="col-md-6">
          <p>Age: 40</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Favourite House: -</p>
        </div>
        <div class="col-md-6">
          <p>Phone No. : -</p>
        </div>
      </div>
    </div>
  </section>
</main>